<iframe src="{{external_resource_url}}" width="100vw" height="100vh" frameborder="0"
    allowfullscreen sandbox>
    <p> <a href="https://developer.mozilla.org/en-US/docs/Glossary">
        Fallback link for browsers that don't support iframes
    </a> </p>
</iframe>

<style type="text/css">
iframe {
    width: 100vw!important;
    height: 100vh!important;
}
</style>